body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #252526;
    color: grey;
}
.summa{}

.btn {
    color: white;
    border: 1px solid white;
    width: 100%;
}

.btno {
    width: 100%;
}

.nav-link {
    color: grey;
    font-size: large;
    font-weight: 500;
}

.nav-link:hover {
    color: white;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.i1 {
    background-color: rgb(90, 90, 226);
}

.i2 {
    background-color: rgb(34, 34, 83);
}

.i3 {
    background-color: rgb(207, 209, 211);
}

.i4 {
    background-color: rgb(88, 179, 231);
}

i {
    margin-right: 5px;
    color: black;
}

.btncin:hover {
    border: 1px solid blue;

}

.spanclose {
    float: right;
}

.fa-solid:hover {
    color: grey !important;
}

.back {
    margin-top: 100px !important;
}

input {
    color: rgb(207, 206, 206);
}

.nav-link.active {
    color: white;
}
